.bordercontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bordercontainer > div {
    overflow: auto;
}

.bordercontainer > .bordercontainer {
    overflow: hidden;
}

.btn {
    position: relative;
}

.btn .btn-icon-secondary {
    display: none;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 16px;
}

.btn-icon-only .btn-icon {
    margin-bottom: 2px;
}

.btn-icon-left .btn {
    padding-left: 26px;
}

.btn-icon-left .btn-icon {
    top: 6px;
    left: 6px;
}

.btn-text-only .btn-icon {
    display: none;
}

.btn-dropdown {
    position: relative;
    margin: 0;
}

.btn-dropdown-container {
    position: absolute;
    left: 0;
    display: none;
    z-index: 997;
}

.btn-dropdown .btn-icon-secondary {
    position: absolute;
    right: 4px;
    top: 4px;
}

.btn-dropdown .list-group,
.btn-dropdown .list-group-item {
    border: none;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}

.btn[disabled] {
    opacity: 0.6;
}

.splitter {
    position: absolute;
    background-color: #fff;
}

.splitter-horizontal {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 4px;
    cursor: row-resize;
}

.splitter-vertical {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}

.form-control {
    display: inline-block;
    width: auto;
}

.progressbar {
    position: relative;
}

.progress-overlay {
    display: none;
}

.progress-label {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 4px;
}

.progress .progress-bar {
    overflow: hidden;
    position: relative;
    float: left;
    white-space: nowrap;
    z-index: 2;
    border-radius: 4px;
    font-weight: normal;
}

.progress .progress-bar .progress-label {
    top: 5px;
}

.modal-dialog {
    width: auto;
    position: absolute;
}

.modal-fullscreen {
    margin: 0;
}

.modal-visible {
    display: block;
}

.confirmationDialog > .confirmation > p {
    padding: 10px;
    margin: 0;
}

.modal-backdrop {
    z-index: 998;
    background-color: #aaa;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-textbox {
    padding-top: 0;
    position: relative;
    display: inline-block;
    width: auto;
}

.search-textbox input {
    padding: 2px 25px;
    font-size: 16px;
}

.search-textbox .tango {
    top: 6px;
    left: 6px;
}

.search-textbox .clear {
    top: 6px;
    right: 6px;
    left: auto;
    cursor: pointer;
    display: none;
}

.filter-textbox {
    position: relative;
    padding-left: 25px;
    cursor: text;
    min-width: 200px;
}

.filter-textbox input {
    border: none;
    background: none;
    box-shadow: none;
}

.filter-textbox .list-group {
    position: absolute;
}

.filter-textbox .value-container {
    position: absolute;
    top: 6px;
    height: 100%;
    display: block;
}

.filter-textbox .overflow-indicator {
    cursor: pointer;
    padding: 4px;
}

.filter-value {
    padding: 4px 16px 4px 4px;
    margin-left: 4px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 100%;
    display: inline-block;
}

.filter-value .filter-remove {
    position: absolute;
    right: 2px;
    top: 8px;
    font-weight: normal;
    color: #fff;
    font-size: 10px;
    opacity: 1;
    cursor: pointer;
}

.filter-textbox input {
    padding: 4px;
}

.filter-textbox input:focus {
    outline: none;
}

.filter-textbox-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.filter-textbox .list-group {
    position: absolute;
    z-index: 999;
    max-height: 400px;
    min-width: 215px;
    margin-left: -26px;
    overflow: auto;
}

.filter-textbox .list-group li {
    cursor: pointer;
}

.filter-textbox-single-value .value-container .filter-value {
    width: 100%;
    max-width: 100%;
    display: block;
}

.filter-textbox-single-value.filter-textbox-with-value .clear,
.filter-textbox-single-value.filter-textbox-with-value input {
    visibility: hidden;
}

.treeview {
    padding: 0;
    width: 100%;
}

.treeview .treeview-node {
    list-style: none;
    cursor: pointer;
    float: none;
}

.treeview .treeview-node .treeview-content {
    position: relative;
    display: block;
}

.treeview-node.no-children .icon-primary {
    background: none;
}

.treeview-node .treeview-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 10px;
}

.treeview-node .icon-secondary {
    top: 2px;
    left: 20px;
}

.treeview .treeview-node-checkbox .icon-secondary {
    left: 40px;
}

.treeview .treeview-node-checkbox input {
    position: absolute;
    left: 20px;
}

.treeview .treeview-node a {
    display: block;
    text-decoration: none;
    padding: 0;
}

.treeview-node label {
    padding: 2px 0 2px 20px;
    margin: 0;
    cursor: pointer;
}

.treeview-node.has-icon label {
    padding: 2px 0 2px 40px;
    display: block;
    white-space: nowrap;
}

.treeview .treeview-node-checkbox label {
    padding-left: 40px;
}

.treeview-node-checkbox.has-icon label {
    padding-left: 60px;
}

.treeview-node > .treeview-container {
    display: none;
    padding: 0;
}

.treeview-node-open > .treeview-container {
    display: block;
}

.tableview {
    padding: 0;
    margin: 0;
    float: none;
    width: auto;
}

.tableview table {
    width: 100%;
    border-collapse: collapse;
}

.tableview th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #fff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableview td {
    padding: 2px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableview th:last-child {
    border-right: none;
}

.btn.btn-state-custom-loading {
    padding-right: 24px;
}

.btn.btn-state-custom-loading .btn-icon-secondary {
    display: block;
    background: transparent url(../images/ajax-loader-small.gif) no-repeat 0 0 !important;
}

.btn.btn-state-custom-done {
    padding-right: 24px;
}

.btn.btn-state-custom-done .btn-icon-secondary {
    display: block;
    background: transparent url(../images/tick.png) no-repeat 0 0 !important;
}

.btn.btn-state-custom-loading .btn-icon-secondary {
    display: block;
    background-image: url(../images/ajax-loader-small.gif);
    background-repeat: no-repeat;
}

.treeview-node .btn-icon-secondary {
    top: 2px;
    left: 20px;
}

.treeview .treeview-node-checkbox .btn-icon-secondary {
    left: 40px;
}

.dragcontainer {
    min-height: 20px;
    min-width: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    z-index: 999;
}

.dragtarget-above {
    border-top: 2px solid #1A237E;
}

.dragtarget-below {
    border-bottom: 2px solid #1A237E;
}

.list-group .list-group-item {
    cursor: pointer;
}