<div class="modal-dialog" data-attach-point="modalContainerNode">
	<div class="modal-content" data-attach-point="modalContentNode">
		<div class="modal-header" data-attach-point="titleNode">
			<button data-attach-point="closeNode" class="close" role="button" aria-disabled="false" title="close">
				<span>&times;</span>
			</button>
			<h4 class="modal-title">{title}</h4>
		</div>

		<div data-attach-point="containerNode">{content}</div>

		<div class="ui-resizable-handle ui-resizable-n"></div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-w"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div>
		<div class="ui-resizable-handle ui-resizable-sw"></div>
		<div class="ui-resizable-handle ui-resizable-ne"></div>
		<div class="ui-resizable-handle ui-resizable-nw"></div>
	</div>
</div>