<div class="ui-button ui-button-dropdown ui-widget ui-state-default ui-corner-all" data-attach-point="wrapperNode">
	<span class="ui-button-text" data-attach-point="labelNode">{label}</span>
	<span class="ui-icon ui-icon-shadow" data-attach-point="iconNode">&nbsp;</span>
	<span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s" data-attach-point="arrowNode"></span>

	<div class="ui-button-dropdown-container" data-mixin-attach-point="wrapperNode" data-attach-point="containerNode"></div>
</div>