<div class="ui-splitbutton ui-button-dropdown ui-buttonset">

	<button data-widget-class="omega/widgets/Button" data-attach-point="labelNode" class="ui-corner-left">{label}</button>
	<button data-widget-class="omega/widgets/Button" data-attach-point="menuButtonNode" class="ui-splitbutton-menu-button ui-corner-right" data-widget-args="{ icon: 'ui-icon ui-icon-triangle-1-s', iconPosition: '' }"></button>

	<div class="ui-button-dropdown-container" data-attach-point="containerNode">

	</div>

</div>