<li class="ui-menu-item ui-treeview-node">
	<a class="ui-wrapper" data-attach-point="wrapperNode" href="javascript:void(0)">
		<span class="ui-content" data-attach-point="contentNode">
			<span class="ui-icon ui-icon-primary ui-icon-triangle-1-e" data-attach-point="primaryIconNode"></span>
			<span class="ui-icon ui-icon-secondary" data-attach-point="secondaryIconNode"></span>
			<span class="ui-label" data-attach-point="labelNode"></span>
		</span>
	</a>
	<ul class="ui-container" data-attach-point="containerNode"></ul>
</li>