<li class="treeview-node">
	<a class="list-group-item treeview-wrapper" data-attach-point="wrapperNode" href="javascript:void(0)">
		<span class="treeview-content" data-attach-point="contentNode">
			<span class="treeview-icon icon-primary glyphicon glyphicon-chevron-right" data-attach-point="primaryIconNode"></span>
			<span class="treeview-icon icon-secondary" data-attach-point="secondaryIconNode"></span>
			<label data-attach-point="labelNode"></label>
		</span>
	</a>
	<ul class="treeview-container" data-attach-point="containerNode"></ul>
</li>