<div>
	<div class="ui-toolbar ui-corner-none" data-mixin-attach-point="domNode" data-layout-position="top">
		<h1>Omega JS</h1>
	</div>

	<div data-mixin-attach-point="domNode" data-layout-position="center" data-attach-point="centerNode" data-widget-class="omega/widgets/BorderContainer" class="ui-bordercontainer-padded">
		<div data-layout-position="left" data-layout-splitter="true" style="min-width: 200px;">
			<ul data-widget-class="omega/widgets/ListView" data-attach-point="widgetListNode">
				<li data-tag="demo/widgets/TabContainer">Tab Container</li>
				<li data-tag="demo/widgets/ProgressBar">Progress Bar</li>
				<li data-tag="demo/widgets/Dialogs">Dialogs</li>
                <li data-tag="demo/widgets/FilterTextBox">Filter Text Box</li>
                <li data-tag="demo/widgets/DragAndDrop">Drag and Drop</li>
				<li data-tag="demo/widgets/TreeView">TreeView</li>
                <li data-tag="demo/widgets/MessageContainer">MessageContainer</li>
				<li data-tag="demo/widgets/Buttons">Buttons</li>
				<li data-tag="demo/widgets/Tooltip">Tooltips</li>
                <li data-tag="demo/widgets/Forms">Forms</li>
                <li data-tag="demo/widgets/Select">Select</li>
			</ul>
		</div>
		<div data-layout-position="center" data-attach-point="bodyNode" style="min-width: 800px;">

		</div>
	</div>
</div>