<div>
	<button data-widget-class="omega/widgets/Button" data-attach-point="topButtonNode">Top</button>
	<button data-widget-class="omega/widgets/Button" data-attach-point="bottomButtonNode">Bottom</button>
	<button data-widget-class="omega/widgets/Button" data-attach-point="leftButtonNode">Left</button>
	<button data-widget-class="omega/widgets/Button" data-attach-point="rightButtonNode">Right</button>
    <button data-widget-class="omega/widgets/Button" data-attach-point="hoverButtonNode">Hover</button>
</div>